.Title {
    align-self: flex-start;
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    padding: 1vw 0vw 1vw 1vw;
}

.Main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-overflow: clip;
    height: 100%;
    position: relative;
}

.holder {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 3vw;
}

.behind{
    position: absolute;
    bottom: 0;
    transform: translate3d(0px,10px,0px);
    width: 23vw;
    height:10vh;
    border: 2px solid purple;
    border-radius: 15px;
    padding-bottom: 10%;
    background-color: rgb(185, 183, 183);
}
